@import url('@awesome.me/webawesome/dist/styles/webawesome.css');
@import url('@awesome.me/webawesome/dist/styles/themes/awesome.css');

@import url('@cesium/engine/Source/Widget/CesiumWidget.css');
@import url('fonts/fonts.css');

:root {
  --wa-font-family-body: 'MessinaSansWeb', sans-serif;

  /* --wa-color-brand-95:   #fef0ec;
  --wa-color-brand-90: #fce0d8;
  --wa-color-brand-80: #f8bcac;
  --wa-color-brand-70: #fa9378;
  --wa-color-brand-60: #f46a45;
  --wa-color-brand-50: #cb4b27;
  --wa-color-brand-40: #9d371a;
  --wa-color-brand-30: #7c2a13;
  --wa-color-brand-20: #5d1d0b;
  --wa-color-brand-10: #3b0f05;
  --wa-color-brand-05: #270802;
  --wa-color-brand: var(--wa-color-brand-60);
  --wa-color-brand-on: var(--wa-color-brand-10); */
}

html, body, #cesium {
  height: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 16px
}

cesium-compass-bar {
  --cesium-compass-bar-tick-color: var(--wa-color-text-normal);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}
cesium-compass-bar::part(label) {
  font-size: 12px;
  font-weight: 700;
}
cesium-compass-bar::part(label major) {
  font-size: 14px;
}
cesium-compass-bar::part(tick) {
  height: 4px;
}
cesium-compass-bar::part(center-tick) {
  height: 6px;
  border-radius: 0;
}

#cesium {
  cursor: move;
}
element-guess wa-card {
  width: 300px;
  height: 300px;
  --spacing: 12px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  max-width: calc(100% - 32px);
}
element-guess wa-card::part(header) {
  font-weight: var(--wa-font-weight-bold);
}
element-guess wa-card::part(body) {
  height: 100%;
}
element-guess wa-card:hover {
  width: 500px;
  height: 500px;
}

element-guess element-map {
  border-radius: var(--wa-border-radius-m);
}
element-result element-map {
  height: 300px;
  pointer-events: none;
  border-radius: var(--wa-border-radius-l);
}

element-country-selector wa-card {
  cursor: pointer;
}
element-country-selector wa-card:hover {
  transform: translateY(-0.5em);
  transition: transform var(--wa-transition-fast) var(--wa-transition-easing);
}
element-country-selector wa-card .flag {
  font-size: 32px;
}

element-leaderboard tr.highlight {
  background-color: var(--wa-color-success-fill-quiet);
}

/*
#map, #result-map {
  border-color: var(--wa-color-surface-border);
  border-width: var(--wa-border-width-s);
  border-style: var(--wa-border-style);
}
*/
