@import url('@awesome.me/webawesome/dist/styles/webawesome.css');
@import url('@awesome.me/webawesome/dist/styles/themes/awesome.css');

@import url('@cesium/engine/Source/Widget/CesiumWidget.css');

html, body, #cesium {
  height: 100%;
  margin: 0;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  padding: 16px
}

cesium-compass-bar {
  --cesium-compass-bar-tick-color: var(--wa-color-text-normal);
  width: 240px;
}
cesium-compass-bar::part(label) {
  font-size: 12px;
  font-weight: 700;
}
cesium-compass-bar::part(label major) {
  font-size: 14px;
}
cesium-compass-bar::part(tick) {
  height: 4px;
}
cesium-compass-bar::part(center-tick) {
  height: 6px;
  border-radius: 0;
}

#progress-ring {
  display: none;
  --size: 40px;
  position: absolute;
  right: 16px;
}

#progress-ring, cesium-compass-bar {
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}

#cesium {
  cursor: move;
}

#guess-card {
  width: 300px;
  height: 300px;
  --spacing: 12px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  max-width: calc(100% - 32px);
}
#guess-card::part(header) {
  font-weight: var(--wa-font-weight-bold);
}
#guess-card::part(body) {
  height: 100%;
}
#guess-card:hover {
  width: 500px;
  height: 500px;
}

#map {
  width: 100%;
  height: 100%;
  cursor: crosshair;
  overflow: hidden;
  border-radius: var(--wa-border-radius-m);
}

#result-map {
  height: 300px;
  pointer-events: none;
  overflow: hidden;
  border-radius: var(--wa-border-radius-l);
}

#map, #result-map {
  border-color: var(--wa-color-surface-border);
  border-width: var(--wa-border-width-s);
  border-style: var(--wa-border-style);
}
