@import url('https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/webawesome.css');
@import url('https://early.webawesome.com/webawesome@3.0.0-alpha.10/dist/styles/themes/awesome.css');

html,
body,
#cesium {
  height: 100%;
  margin: 0;
}
cesium-compass-bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 30px;
  width: 240px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

cesium-compass-bar::part(label) {
  font-family: monospace;
  font-size: 12px;
  font-weight: 700;
  color: rgba(224, 225, 226, 0.5);
}
cesium-compass-bar::part(label major) {
  font-size: 14px;
  color: rgb(224, 225, 226);
}
cesium-compass-bar::part(tick) {
  height: 4px;
  background-color: rgb(224, 225, 226);
}
cesium-compass-bar::part(center-tick) {
  background-color: rgb(224, 225, 226);
}
.guess-map {
  --spacing: 8px;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

#openlayers {
  width: 300px;
  height: 140px;
  cursor: crosshair;
  overflow: hidden;
}

/* #openlayers:hover {
  width: 600px;
  height: 280px;
} */
