@import url("@awesome.me/webawesome/dist/styles/webawesome.css");
@import url("@awesome.me/webawesome/dist/styles/themes/awesome.css");

@import url("@cesium/engine/Source/Widget/CesiumWidget.css");
@import url("fonts/fonts.css");

:root {
  --wa-font-family-body: "MessinaSansWeb", sans-serif;
  --wa-color-text-normal: #000;
  --wa-color-text-link: var(--wa-color-brand-60);

  --wa-color-brand-95: #ffd6bc;
  --wa-color-brand-90: #ffc6a3;
  --wa-color-brand-80: #ffa770;
  --wa-color-brand-70: #ff873d;
  --wa-color-brand-60: #ff680a; /* official brand color (rgb(255, 104, 10)) */
  --wa-color-brand-50: #d65200;
  --wa-color-brand-40: #a33f00;
  --wa-color-brand-30: #702b00;
  --wa-color-brand-20: #3d1700;
  --wa-color-brand-10: #0a0400;
  --wa-color-brand-05: #000000;

  --c2c-color-hover: #a54a12;

  --wa-color-brand: var(--wa-color-brand-60);
  --wa-color-brand-on: var(--wa-color-brand-10);
  --wa-color-brand-fill-loud: var(--wa-color-brand-60);
}
@layer wa-theme-overrides {
  wa-button::part(base) {
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 20px;
    height: auto;
  }
  wa-button::part(base):hover {
    background-color: var(--c2c-color-hover);
  }
  wa-button[appearance="outlined"]::part(base) {
    color: var(--wa-color-brand);
    border-color: var(--wa-color-brand);
  }
  wa-dialog::part(dialog),
  wa-select::part(listbox),
  wa-select::part(combobox),
  wa-card {
    border-radius: 0;
  }
  wa-select::part(combobox) {
    outline: none;
  }
  wa-select::part(expand-icon) {
    color: var(--wa-color-brand);
  }

  wa-card::part(header),
  wa-card::part(footer) {
    border-block-start-color: transparent;
    border-block-end-color: transparent;
  }
}

html,
body,
#cesium {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 16px;
}

.header-logo {
  height: 48px;
  width: auto;
}

cesium-compass-bar {
  --cesium-compass-bar-tick-color: var(--wa-color-text-normal);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
}
cesium-compass-bar::part(label) {
  font-size: 12px;
  font-weight: 700;
}
cesium-compass-bar::part(label major) {
  font-size: 14px;
}
cesium-compass-bar::part(tick) {
  height: 4px;
}
cesium-compass-bar::part(center-tick) {
  height: 6px;
  border-radius: 0;
}

#cesium {
  cursor: move;
}

element-guess wa-card {
  position: absolute;
  width: 300px;
  height: 300px;
  --spacing: 12px;
  bottom: 16px;
  right: 16px;
  max-width: calc(100% - 32px);
}
element-guess wa-card:hover {
  width: 500px;
  height: 500px;
}
@media (max-width: 600px) {
  element-guess wa-card {
    width: 100%;
    height: 500px;
    max-width: 100%;
    bottom: -400px;
    right: 0;
    transition: all var(--wa-transition-fast) var(--wa-transition-easing);
  }
  element-guess wa-card:hover {
    width: 100%;
    bottom: 0;
  }
}

element-guess wa-card::part(header) {
  font-weight: var(--wa-font-weight-bold);
}
element-guess wa-card::part(body) {
  height: 100%;
}

element-result element-map {
  height: 300px;
  pointer-events: none;
}

element-country-selector .country-cards wa-card {
  cursor: pointer;
}
element-country-selector .country-cards wa-card.selected {
  border-color: var(--wa-color-brand);
}

element-country-selector .country-cards wa-card .flag {
  font-size: var(--wa-font-size-2xl);
}

element-leaderboard tr.highlight {
  background-color: var(--wa-color-focus);
}

element-scores .save_score {
  width: fit-content;
  align-self: end;
}

/*
#map, #result-map {
  border-color: var(--wa-color-surface-border);
  border-width: var(--wa-border-width-s);
  border-style: var(--wa-border-style);
}
*/
